build --incompatible_strict_action_env

build --host_platform=@rules_nixpkgs_core//platforms:host

build --java_runtime_version=nixpkgs_java_19
build --tool_java_runtime_version=nixpkgs_java_19
build --java_language_version=19
build --tool_java_language_version=19

try-import %workspace%/.bazelrc.local
