build --incompatible_strict_action_env

build --host_platform=@rules_nixpkgs_core//platforms:host

build --java_runtime_version=nixpkgs_java_11
build --tool_java_runtime_version=nixpkgs_java_11
build --java_language_version=11
build --tool_java_language_version=11

try-import %workspace%/.bazelrc.local
